* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: lightgreen;
    height: 15vh;
    width: 100%;
    line-height: 15vh;
    align-items: center;
}

main {
    display: flex;
    height: 70vh;
    line-height: 70vh;
    width: 100%;
}

article {
    flex: 3;
    order: 2;
    align-items: center;
}

aside {
    flex: 1;
    order: 3;
    background-color: bisque;
}

nav {
    flex: 1;
    background-color: lightyellow;
    order: 1;
}

footer {
    background-color: lightcoral;
    height: 15vh;
    line-height: 15vh;
    width: 100%;
    align-items: center ;
}